 @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:ital,wght@1,300&family=Sofia&display=swap');

  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
  }

 body {
     margin: 0px;
     padding: 0%;
     /* background-color: red; */
 }

 .container {
     padding: 0px 15px;

 }
 img {

     height: 60px;
     width: 130px;
 }

 .container {
     box-shadow: 0px 2px 30px 2px black;
     height: 88px;
     
 }

 .flex-container {
   display: flex;
}

 .logo {
     flex: 1;

 }

 .bcl {
     margin: 15px 100px;
 }

 .navbar {
     flex: 1;
     display: flex;
     margin: auto auto;
     justify-content: space-evenly;
 }

 a {
     text-decoration: none;
     font-size: 18px;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     padding: 0%;

 }

 a:hover {
     color: red;
 }

 .container2 {
     background-image: url(https://bracecodes.in/img/banner-bg.jpg);
     background-size: cover;
     /* border: 2px solid: black; */
     height: 600px;
     line-height: 44px;
    
     padding-top: 60px;
     display: flex;
     flex-direction: column;
     padding-left: 60px;
    
       width: 100vw;
       margin: 0px;
       width: 120%;
   
   

 }

 

 .container2 .company-name h2 {
    width: 540px;
     height: 135px; 
     font-weight: 600;
     color: #222222;
     font-size: 30px;
     /* border: 2px solid green; */
     font-family: 'roboto', sans-serif;
     margin-left: 0px;
     margin-bottom:0;
     /* display: flex; */
     position: relative;
     }

 .designation {

     
     width: 390px;
     height: 100px;
     margin-top:57px;
     /* display: flex; */

 }

 .designation p {

     color: #777777;
     font-family: 'roboto', sans-serif;
     font-size: 30px;
     padding-left: 0%;
     padding-top: 0%;
}
 .div-button {
    
    height: 250px;
    margin-top: 150px;
    }


 .primary-button {
    background-color: red;
    height: 60px;
    width: 260px;
    border-radius: 30px;
    color: white;
    font-family:'roboto', sans-serif;
    font-weight: 900;
    border: 3px solid #f00;

}
.container2 .side-image img{
    width: 432px;
    height: 570px;
    position: absolute;
    right: 120px;
    top: 130px;
}
.span-web{
   color: #f00;
}
.span-mob{
    color: lightblue;
}
.primary-button:hover {
 background-color: aliceblue;
}
.container3{
    display: flex;
    justify-content: space-between;
   
}
.container3 .about-us-image{
    width: 500px;
    height: 700px;

}
.container3 .about-us-image img{
    width: 500px;
    height: 700px;
}
.container3 .about-us-heading{
    width: 445px;
    height: 44px;
    margin: 30px 70px;
}
.container3 .about-us-heading h2{
    font-size: 60px;
    font-family: 'roboto', sans-serif; 
    font-weight: 700;
    position: relative;

}

.container3 .about-us-text{
    font-family: 'roboto', sans-serif;
    line-height: 1.5;
    margin-top: 40px;

}
.container3 .about-us-text p{
    font-size: 15px;
    color: #777777;
    margin: 30px 10px;

}

.about-us-heading h2::before{
    /* content:"About Us"; */
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100px;
    height: 2px;
    background: #e45447;
    
}
.about-us-heading h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 10px;
    height: 10px;
    background: #e45447;
    border-radius: 15px;
    
}